
.contenedor{
    margin: auto;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
}
  .imagen {
    width: 1fr;
  aspect-ratio: 4/3;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 3%;
  }
  
  .imagen img {
    width: 120%;
    /* height: auto; */
    object-fit: contain;
  }
  